services:
  httpbin:
    image: mccutchen/go-httpbin:v2.9.0
    environment:
      - MAX_BODY_SIZE=15728640 # 15 MiB
    ports:
      - 8081:8080

  chown:
    image: alpine:3.16
    command:
      - /bin/sh
      - -c
      - chown -R 101:101 /home/envoy/logs
    volumes:
      - logs:/home/envoy/logs:rw

  envoy:
    depends_on:
      - chown
      - httpbin
    image: ${ENVOY_IMAGE:-envoyproxy/envoy:v1.27-latest}
    command:
      - -c
      - /conf/envoy-config.yaml
      - --log-level
      - info
      - --component-log-level
      - wasm:debug
      - --log-format [%Y-%m-%d %T.%f][%t][%l][%n] [%g:%#] %v
      - --log-path
      - /home/envoy/logs/envoy.log
      - --service-cluster # required to export metrics
      - envoy
      - --service-node # required to export metrics
      - envoy
    volumes:
      - ../../build:/build
      - .:/conf
      - logs:/home/envoy/logs:rw
    ports:
      - 8080:8080
      - 8082:8082

  envoy-logs:
    depends_on:
      - envoy
      - wasm-logs
    image: debian:11-slim
    entrypoint: bash
    command:
      - -c
      - tail -c +0 -f /home/envoy/logs/envoy.log
    volumes:
      - logs:/home/envoy/logs:ro

  wasm-logs:
    depends_on:
      - envoy
    image: debian:11-slim
    entrypoint: bash
    command:
      - -c
      - tail -c +0 -f /home/envoy/logs/envoy.log | grep --line-buffered "[critical][wasm]"
    volumes:
      - logs:/home/envoy/logs:ro

  # Monitoring
  statsd_exporter:
    image: prom/statsd-exporter:latest
    ports:
    - "9125:9125"
    - "9102:9102"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yaml:/etc/prometheus.yaml
    ports:
    - "9090:9090"
    command: "--config.file=/etc/prometheus.yaml"

  grafana:
    image: grafana/grafana
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml
      - ./grafana/dashboard.yaml:/etc/grafana/provisioning/dashboards/dashboard.yaml
      - ./grafana/dashboard.json:/etc/grafana/provisioning/dashboards/dashboard.json
    ports:
    - "3000:3000"

volumes:
  logs:
