services:
  httpbin:
    image: mccutchen/go-httpbin:v2.5.0
  chown:
    image: alpine:3.16
    command:
      - /bin/sh
      - -c
      - chown -R 101:101 /home/envoy/logs
    volumes:
      - logs:/home/envoy/logs:rw
  envoy:
    depends_on:
      - chown
      - httpbin
    image: ${ENVOY_IMAGE:-envoyproxy/envoy:v1.23-latest}
    command:
      - -c
      - ${ENVOY_CONFIG:-/conf/envoy-config.yaml}
      - --log-level
      - info
      - --component-log-level
      - wasm:debug
      - --log-format [%Y-%m-%d %T.%f][%t][%l][%n] [%g:%#] %v
      - --log-path
      - /home/envoy/logs/envoy.log
    volumes:
      - ../build:/build
      - .:/conf
      - logs:/home/envoy/logs:rw
    ports:
      - 8080:80
  wasm-logs:
    depends_on:
      - envoy
    image: debian:11-slim
    entrypoint: bash
    command:
      - -c
      - tail -c +0 -f /home/envoy/logs/envoy.log | grep --line-buffered "[critical][wasm]" > /home/envoy/logs/ftw.log
    volumes:
      - logs:/home/envoy/logs:rw
  envoy-logs:
    depends_on:
      - envoy
    image: debian:11-slim
    entrypoint: bash
    command:
      - -c
      - tail -c +0 -f /home/envoy/logs/envoy.log > /build/ftw-envoy.log
    volumes:
      - logs:/home/envoy/logs:ro
      - ../build:/build
  ftw:
    depends_on:
      - envoy-logs
      - wasm-logs
    build: .
    environment:
      - FTW_CLOUDMODE
      - FTW_INCLUDE
    volumes:
      - logs:/home/envoy/logs:ro
      - ../build:/build
  ftw-memstats:
    depends_on:
      - ftw
    image: debian:11-slim
    entrypoint: bash
    command:
      - -c
      - "tail -c +0 -f /home/envoy/logs/envoy.log | grep 'Sys: '"
    volumes:
      - logs:/home/envoy/logs:ro
volumes:
  logs:
