name: Build wasi-sdk
on:
  push:
    branches:
      - main
    paths:
      - buildtools/wasi-sdk/**
      - .github/workflows/buildtools-wasi-sdk.yaml
  pull_request:
    branches:
      - main
    paths:
      - buildtools/wasi-sdk/**
      - .github/workflows/buildtools-wasi-sdk.yaml
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3

      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2

      - uses: docker/metadata-action@v4
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}/buildtools-wasi-sdk

      - uses: docker/build-push-action@v3
        with:
          context: buildtools/wasi-sdk
          push: ${{ github.event_name != 'pull_request' }}
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
