name: Nightly Coraza Check
on:
  pull_request:
    paths:
      - ".github/workflows/nightly-coraza-check.yaml"
      - ".github/workflows/ci.yaml"
  schedule:
    - cron: "0 4 * * *"

env:
  GO_VERSION: 1.19
  TINYGO_VERSION: 0.26.0
  WABT_VERSION: 1.0.29

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Install TinyGo and wabt
        run: |
          gh release download v${TINYGO_VERSION} -p '*.linux-amd64.tar.gz' -D ~ -R github.com/tinygo-org/tinygo
          tar -xf ~/tinygo${TINYGO_VERSION}.linux-amd64.tar.gz  -C $HOME
          echo "$HOME/tinygo/bin" >> $GITHUB_PATH

          gh release download ${WABT_VERSION} -p '*-ubuntu.tar.gz' -D ~ -R github.com/WebAssembly/wabt
          tar -xf ~/wabt-${WABT_VERSION}-ubuntu.tar.gz  -C $HOME
          echo "$HOME/wabt-${WABT_VERSION}/bin" >> $GITHUB_PATH
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache TinyGo build
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/tinygo
          key: ${{ runner.os }}-tinygo-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-tinygo-

      - name: Get last commit of coraza
        id: coraza-latest-commit
        run: echo "::set-output name=value::$(gh api repos/corazawaf/coraza/commits/v3/dev -q .sha)"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Fetch last coraza version
        run: go get -u github.com/corazawaf/coraza/v3@${{ steps.coraza-latest-commit.outputs.value }} && go mod tidy

      - name: Works out github changes
        id: git-changes
        run: echo "::set-output name=value::$(git status -s)"

      - if: ${{ steps.git-changes.outputs.value != '' }}
        name: Build WASM filter
        run: go run mage.go build

      - if: ${{ steps.git-changes.outputs.value != '' }}
        name: Run unit tests
        run: go run mage.go test

      - if: ${{ steps.git-changes.outputs.value != '' }}
        name: Run e2e tests
        run: go run mage.go e2e

      - if: ${{ steps.git-changes.outputs.value != '' }}
        name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "chore: upgrades to github.com/corazawaf/coraza/v3@${{ steps.coraza-latest-commit.outputs.value }}"
          branch: upgrades_coraza_${{ steps.coraza-latest-commit.outputs.value }}
          token: ${{ secrets.NIGHTLY_UPGRADE_TOKEN }}
          title: "chore: upgrades to github.com/corazawaf/coraza/v3@${{ steps.coraza-latest-commit.outputs.value }}"
          base: main
          delete-branch: true
          push-to-fork: jcchavezs/coraza-proxy-wasm
