name: CI check
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "LICENSE"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      # Set fetch-depth: 0 to fetch commit history and tags for use in version calculation
      - name: Check out code
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: true

      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.18.1

      - name: Run tests
        shell: bash
        run: make test

  build:
    needs: [test]
    runs-on: ubuntu-20.04
    container:
      image: tinygo/tinygo:0.23.0
    steps:
      # submodule needs .git folder, which is missing without installing a newer git command
      # https://github.com/actions/checkout/issues/335
      - name: "Install latest `git`"
        run: |
          apt purge git -y
          apt-get update && apt-get install -y software-properties-common make
          add-apt-repository ppa:git-core/ppa -y
          # apt update fails to fetch some repo due to cert failure. Skip them.
          apt update || true; apt install -y --no-install-recommends \
              git \
          && apt clean \
          && rm -rf /var/lib/apt/lists/*

      - name: Check out code
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
          submodules: true

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18.1"

      - name: Build WASM filter
        shell: bash
        run: make build
